<div class="boxContainer">
    <div class="row row-cols-1 row-cols-md-4 g-4 py-3">
        <div class="col">
            <div class="card card-box">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">The Heart Care Heart Hospital have latest technology machines with experty Heart specialist doctors. It .</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-box">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">Our services</h5>

                    <ul class="service-names">
                        <li><a href="#"><i class="fa fa-arrow-right mx-2" aria-hidden="true"></i>Angioplasty</a> </li>
                        <li><a href="#"><i class="fa fa-arrow-right mx-2" aria-hidden="true"></i>ECG</a></li>
                        <li><a href="#"><i class="fa fa-arrow-right mx-2" aria-hidden="true"></i>Echocardiogram</a></li>
                        <li><a href="#"><i class="fa fa-arrow-right mx-2" aria-hidden="true"></i>Stress ECG</a></li>
                        <li><a href="#"><i class="fa fa-arrow-right mx-2" aria-hidden="true"></i>Angiography</a></li>
                        <li><a href="#"><i class="fa fa-arrow-right mx-2" aria-hidden="true"></i>24 Hr Holter</a></li>
                        <li><a href="#"><i class="fa fa-arrow-right mx-2" aria-hidden="true"></i>Pacemaker</a></li>
                        <li><a href="#"><i class="fa fa-arrow-right mx-2" aria-hidden="true"></i>Cardiac Surgery</a></li>



                    </ul>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-box">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">Our doctors</h5>
                    <p class="card-text">
                        <ul class="service-names">
                            <li><a href="#"><i class="fa fa-arrow-right mx-2" aria-hidden="true"></i>Dr. Rohit chabra</a>
                            </li>
                            <li><a href="#"><i class="fa fa-arrow-right mx-2" aria-hidden="true"></i>Dr. Abbas Shahid</a>
                            </li>
                            <li><a href="#"><i class="fa fa-arrow-right mx-2" aria-hidden="true"></i>Dr. Abdul Malik</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right mx-2" aria-hidden="true"></i>Dr. Achraya Dilip</a>
                            </li>
                            <li><a href="#"><i class="fa fa-arrow-right mx-2" aria-hidden="true"></i>Dr. Achraya Dinesh</a>
                            </li>
                            <li><a href="#"><i class="fa fa-arrow-right mx-2" aria-hidden="true"></i>Dr. Admane Neelima</a>
                            </li>
                            <li><a href="#"><i class="fa fa-arrow-right mx-2" aria-hidden="true"></i>Dr. Dhanuka Sanjay</a>
                            </li>
                            <li><a href="#"><i class="fa fa-arrow-right mx-2" aria-hidden="true"></i>Dr. Dhand Hemlata</a>
                            </li>
                        </ul>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-box">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">Contact</h5>
                    <p class="card-text">
                        <ul class="service-names">
                            <li>
                                <a href="#"> <i class="fa fa-location-arrow mx-2 red-icon" aria-hidden="true"></i></a> Main Branch :
                                <br><span class="loc-data"><a href="#"> Xyz Square   mp</a> </span>
                            </li>
                            <li><a href="#"><i class="fa fa-phone mx-2 red-icon" aria-hidden="true"></i></a> Call us Anytime at: <br>
                                <span class="loc-data">
                                <a href="#"> +918319151586 </a>
                            </span>
                            </li>
                            <br>
                            <li><a href="#"><i class="fa fa-envelope mx-2 red-icon" aria-hidden="true"></i></a>For Inquiry: <br><span class="loc-data"><a href="#"> info@heartcare.com </a></span> </li><br>
                            <li>
                                <a href="#"> <i class="fa fa-clock-o mx-2 red-icon" aria-hidden="true"></i></a>Our Timings: <br> <span class="loc-data"> Mon-Sat: 9:00am - 7:00pm </span> </li>


                        </ul>
                </div>
            </div>
        </div>
    </div>