<div class="card" style="width: 80rem;">
    <div class="section">
        <h1 id="h1">OUR EXPERT TEAM</h1>
</div>
    <section class="slide">
        
        <div class="doctor">
            <div class="scard" style="width: 11rem;">
                <img src="assets/img/team13.jpg" class="card-img-top" alt="doctor-image">
                <div class="card-body">
                  <h5 class="card-title">Doctor</h5>
                  <p class="card-text">Some quick example text  .</p>
                  <a href="#" class="btn btn-primary">See More....</a>
                </div>
              </div>

              <div class="scard" style="width: 11rem;">
                <img src="assets/img/team14.jpg" class="card-img-top" alt="doctor-image">
                <div class="card-body">
                  <h5 class="card-title">Doctor</h5>
                  <p class="card-text">Some quick example text    </p>
                  <a href="#" class="btn btn-primary">See More....</a>
                </div>
              </div>

              <div class="scard" style="width: 11rem;">
                <img src="assets/img/team13.jpg" class="card-img-top" alt="doctor-image">
                <div class="card-body">
                  <h5 class="card-title">Doctor</h5>
                  <p class="card-text">Some quick example text   </p>
                  <a href="#" class="btn btn-primary">See More....</a>
                </div>
              </div>

              <div class="scard" style="width: 11rem;">
                <img src="assets/img/team14.jpg" class="card-img-top" alt="doctor-image">
                <div class="card-body">
                  <h5 class="card-title">Doctor</h5>
                  <p class="card-text">Some quick example text    </p>
                  <a href="#" class="btn btn-primary">See More....</a>
                </div>
              </div>
              
            </div> <!-- doctor div close -->
            <div class="doctor">
                <div class="scard" style="width: 11rem;">
                    <img src="assets/img/team13.jpg" class="card-img-top" alt="doctor-image">
                    <div class="card-body">
                      <h5 class="card-title">Doctor</h5>
                      <p class="card-text">Some quick example text  .</p>
                      <a href="#" class="btn btn-primary">See More....</a>
                    </div>
                  </div>
    
                  <div class="scard" style="width: 11rem;">
                    <img src="assets/img/team13.jpg" class="card-img-top" alt="doctor-image">
                    <div class="card-body">
                      <h5 class="card-title">Doctor</h5>
                      <p class="card-text">Some quick example text    </p>
                      <a href="#" class="btn btn-primary">See More....</a>
                    </div>
                  </div>
    
                  <div class="scard" style="width: 11rem;">
                    <img src="assets/img/team14.jpg" class="card-img-top" alt="doctor-image">
                    <div class="card-body">
                      <h5 class="card-title">Doctor</h5>
                      <p class="card-text">Some quick example text    </p>
                      <a href="#" class="btn btn-primary">See More....</a>
                    </div>
                  </div>
    
                  <div class="scard" style="width: 11rem;">
                    <img src="assets/img/team14.jpg" class="card-img-top" alt="doctor-image">
                    <div class="card-body">
                      <h5 class="card-title">Doctor</h5>
                      <p class="card-text">Some quick example text    </p>
                      <a href="#" class="btn btn-primary">See More....</a>
                    </div>
                  </div>
                  
                </div> <!-- doctor div close -->
          </section>
  </div>
  <hr>
 
  <app-footer></app-footer>