<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <!-- Navbar content -->
    <marquee class="marquee" width="auto" direction="left" height="auto">
        “Reading a technically poor echocardiogram is like looking at a polar bear in a snow storm.”
        —Lynn Y. Zoiopoulos, DO
        </marquee>
  </nav>


<div class="card" style="width: 80rem;">
    <nav id="servicesnav"class="navbar navbar-expand-lg navbar-dark bg-primary">
        <h1 id="serviceshead">Services</h1>
      </nav>
      
    <section class="slide">
        
        <div class="doctor">
            <div class="scard" style="width: 11rem;">
                <img src="assets/img/services/angioplasty.jpg" class="card-img-top" alt="doctor-image">
                <div class="card-body">
                  <h5 class="card-title">Angioplasty</h5>
                  <p class="card-text">Some quick example text  .</p>
                
                </div>
              </div>

              <div class="scard" style="width: 11rem;">
                <img src="assets/img/services/pacemaker.jpg" class="card-img-top" alt="doctor-image">
                <div class="card-body">
                  <h5 class="card-title">Pacemaker Check</h5>
                  <p class="card-text">Some quick example text    </p>
                  
                </div>
              </div>

              <div class="scard" style="width: 11rem;">
                <img src="assets/img/services/ecg.jpg" class="card-img-top" alt="doctor-image">
                <div class="card-body">
                  <h5 class="card-title">ECG</h5>
                  <p class="card-text">Some quick example text   </p>
                   
                </div>
              </div>

              <div class="scard" style="width: 11rem;">
                <img src="assets/img/services/stress.jpg" class="card-img-top" alt="doctor-image">
                <div class="card-body">
                  <h5 class="card-title">Stress ECG</h5>
                  <p class="card-text">Some quick example text    </p>
                 
                </div>
              </div>
              
            </div> <!-- doctor div close -->
            <div class="doctor">
                <div class="scard" style="width: 11rem;">
                    <img src="assets/img/services/cardiacsurgery.jpg" class="card-img-top" alt="doctor-image">
                    <div class="card-body">
                      <h5 class="card-title">Cardiac surgery</h5>
                      <p class="card-text">Some quick example text  .</p>
                     
                    </div>
                  </div>
    
                  <div class="scard" style="width: 11rem;">
                    <img src="assets/img/services/expert-ser-3.jpg" class="card-img-top" alt="doctor-image">
                    <div class="card-body">
                      <h5 class="card-title">Angiography</h5>
                      <p class="card-text">Some quick example text    </p>
                      
                    </div>
                  </div>
    
                  <div class="scard" style="width: 11rem;">
                    <img src="assets/img/services/section2.jpg" class="card-img-top" alt="doctor-image">
                    <div class="card-body">
                      <h5 class="card-title">24Hr Holter</h5>
                      <p class="card-text">Some quick example text    </p>
                      
                    </div>
                  </div>
    
                  <div class="scard" style="width: 11rem;">
                    <img src="assets/img/services/ecg.jfif" class="card-img-top" alt="doctor-image">
                    <div class="card-body">
                      <h5 class="card-title">Others</h5>
                      <p class="card-text">Some quick example text    </p>
                      
                    </div>
                  </div>
                  
                </div> <!-- doctor div close -->
          </section>
  </div>
  <hr>
 
  <app-footer></app-footer>