<!-- <p>home works!</p> -->
<!-- jpg"/>D:\angular\HOSPITAL\src\assets\img\heart-1133761.jpg -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <!-- Navbar content -->
    <marquee class="marquee" width="auto" direction="left" height="auto">
        “Reading a technically poor echocardiogram is like looking at a polar bear in a snow storm.” —Lynn Y. Zoiopoulos, DO
    </marquee>
</nav>
<div class="card" style="width: 80rem;">

    <section class="slide">
        <div class="section">
            <br>
            <br><br><br> <br><br><br>
            <h1 id="h1">Efficient Affordable High Quality Heart Care</h1>
            <h5 id="h5">Our Treatments & Services are Provided Comfortable</h5>
            <br><br>
            <button class="btn"><a href="contactus"> Call for Inquiry</a></button>
            <button class="btn"><a href="#"> Ask Cardiologist</a></button>
        </div>
    </section>
</div>



<div class="x">

    <div class="sidebar-menu-wrapper">
        <ul id="menu-center-of-excellence-lhs-menu" class="coe-lhs asd-catgs tabs">
            <li id="menu-item-4005" class="menu-item    active ">
                <div id="heart">
                    <a id="heartico" aria-current="page" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-heartbeat" aria-hidden="true"></i> Heart</a>
                </div>
                <ul class="sub-menu">
                    <li id="menu-item-4043" class="has-link menu-item   menu-item-4043">
                        <a target="_blank" rel="noopener" href="#">Healthy Heart
                            Program</a>
                    </li>
                    <li id="menu-item-4009" class="menu-item  has-link  ">
                        <a href=" ">Milestones</a>
                    </li>
                    <li id="menu-item-4033" class="menu-item has-link  ">
                        <a href=" ">Our
                            Stents Pricing</a>
                    </li>
                    <li id="menu-item-4067" class="menu-item has-link  ">
                        <a href=" ">Treatments</a>
                    </li>
                    <li id="menu-item-4032" class="menu-item has-link  ">
                        <a href=" ">Facilities</a>
                    </li>
                    <li id="menu-item-4036" class="menu-item has-link  ">
                        <a href=" ">Diagnostic
                            Services</a>
                    </li>
                    <li id="menu-item-4038" class="menu-item has-link  ">
                        <a href=" ">Clinical
                            Team</a>
                    </li>
                    <li id="menu-item-4037" class="menu-item has-link   ">
                        <a href=" ">Tracking
                            Outcomes</a>
                    </li>
                    <li id="menu-item-6625" class="menu-item has-link  ">
                        <a href=" ">Testimonials</a>
                    </li>
                    <li id="menu-item-4035" class="menu-item has-link  ">
                        <a href=" ">Clinical
                            Articles</a>
                    </li>
                    <li id="menu-item-4042" class="menu-item has-link  ">
                        <a href=" ">Saving
                            A Child U+2019 s Heart</a>
                    </li>
                    <li id="menu-item-4040" class="menu-item has-link  ">
                        <a href=" ">Diseases
                            and Conditions</a>
                    </li>
                    <li id="menu-item-6635" class="menu-item has-link  ">
                        <a href=" ">Case
                            Studies</a>
                    </li>

                </ul>
            </li>


        </ul>

    </div>
    <div class="p">
        <section>
            <img src="/assets/img/institute.jpg" alt=""><br>
            <br><br><br>
            <h2>Heart Care, Treatment Services & Facilities</h2>
            <br>
            <h4>Cardiothoracic CCU : </h4>
            <p> The Centres have dedicated Cardiothoracic CCUs with 1:1 nursing ratio, round the clock. They are well equipped with bedside color doppler, echocardiography system, continuous oxygen supply, infusion pumps, defibrillator, ventilators, invasive
                as well as non-invasive pressure monitoring systems, temporary pace maker (transdermal as well as transvenous), intra aortic balloon pump, ABG (Blood Gas machine) and electrolytes analysis machines.</p>

            <h4>Electrophysiology :</h4>
            <p> Electrophysiological studies have been used for decades to evaluate cardiac arrhythmias and to get a basic understanding of their mechanisms. Venticular tachyarrhythmias are the commonest cause of sudden cardiac death (SCD). The patients are
                investigated by an EP study and, if required, provided with implantable cardioverter defibrillator (ICD) as a life saving device. We have capabilities for multi-site pacing for patients of Heart Failure and Dilated cardiomyopathy. Recently
                a bilateral pacing was performed for intermittent Atrial Fibrillation.</p>

            <h4>Non-invasive cardiology :</h4>
            <p> The Non-invasive Cardiac Laboratory is run by senior cardiologists who are dedicated to the work in the field. The procedures done here include stress echoes, dobutamine stress echoes, vascular dopplers, trans-oesophageal echoes, intra-operative
                TEE and fetal echoes. Heart & Cardiovascular Diagnostic Services</p>



        </section>
    </div>
</div>
<br>
<nav id="footer" class="navbar navbar-expand-lg ">

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li id="navitem" class="nav-item active">
                <a class="nav-link" href="#">
            Book Appointment
             </a>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Choose by name, specialty, <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; city and more.</p>
            </li>
            <li id="navitem" class="nav-item active">
                <a class="nav-link" href="#">
             Consult Online
               </a>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Talk to a doctor online</p>
            </li>



            <li id="navitem" class="nav-item active">
                <a class="nav-link" href="#">
              Book Health Check
               </a>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Choose by location, <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Age, Gender & more.</p>
            </li>
            <li id="navitem" class="nav-item active">
                <a class="nav-link" href="#">
             Find Hospital
               </a>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Find Directions & <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;contact details</p>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <!-- Navbar content -->
    <marquee class="marquee" width="auto" direction="left" height="auto">
        Patients with Covid-19 History Contributing towards Burden of New Diabetes Cases- say Experts
    </marquee>
</nav>
<!-- <img src="assets/img/heart-1133761.jpg"/> -->